<h4 class="component-title ac">Holiday rentals in Dordogne<h4>
	
<ul class="side_nav">
	<li><a href="http://holidaysindordogne.com">Holidays in Dordogne</a></li>
	<li><a href="http://holidaysindordogne.com/pages/rentals/dezie-exclusive/">Dezie Exclusive</a></li>
	<li><a href="http://holidaysindordogne.com/pages/rentals/dezie-barn/">Dezie Barn</a></li>
	<li><a href="http://holidaysindordogne.com/pages/rentals/dezie-cottage/">Dezie Cottage</a></li>
	<li><a href="http://holidaysindordogne.com/pages/rentals/private-villa/">Private Villa</a></li>
</ul>
	